.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScrollbar::-webkit-scrollbar {
  display: none;
}

.inputContainerBackdrop {
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 800px) {
  .chatContainer {
    height: 100vh;
    padding-top: 100px;
  }
}
